{% extends "base.html" %}
{% block content %}	

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
		<h1 class="display-4">A todo App</h1>
		<p class="lead">Here is an app to manage all your important task according the timeline</p>
	  </div>
	</div>
		
		
	<div class="container mt-4">
		<form action="add_on/" method="post">
			{% csrf_token %}
			<div class="form-group row">
				<div class="mx-auto">
					<input class="btn-lg btn-primary" type="submit" value="ADD TASK">
				</div>
			</div>
		</form>	
	</div>
		
		
	<div class="container mt-4">
		<ul class="list-group">
			{% for item in todo_items %}
			<div class="row mt-2">
				<div class="col-12">
					<div class="row">
						<li class="col-8 list-group-item ml-3">{{ item.task_name }}</li>
						<form action="update/{{item.id}}" method="POST">
							{% csrf_token %}
							<div class="col-2">
								<button type="submit" class="btn btn-outline-warning m-2">Edit</button>
							</div>
							
						</form>
						<form action="delete/{{item.id}}/" method="POST">
							{% csrf_token %}
							<div class="col-2"></div>
							<button type="submit" class="btn btn-outline-danger m-2">Delete</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% endfor %}
		</ul>
	</div>
{% endblock %}